@import "tailwindcss";

#home {
    background-image: url("assets/cabane.jpg");
    background-position: center center;
    background-size: cover;
}

#quizz {
    .head {
        background-image: url("assets/quizz.jpg");
        background-position: center center;
        background-size: cover;
    }
}

.archetype-illustration {
    width: 500px;
    height: 800px;
    background-image: url("https://placehold.co/500x800");
    background-position: center center;
    background-size: cover;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-bold {
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.page-container {
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
    min-height: 100vh;
    width: 100%;
}

.page-exit {
    transform: translateY(-100vh);
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.page-container:not(.page-exit) {
    animation: slideInFromBottom 0.5s ease-in-out;
}